@import "helper";
@import "../fonts/fonts";
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  border-radius: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #3089FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3383ee;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Schibsted Grotesk", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 16px;
  }
}

.container{
  width: 100%;
  max-width: calc(100% - 260px);
  margin: 0 auto;
  @media (max-width: 1180px) {
    padding: 0 15px;
  }
}

.hidden {
  overflow: hidden;
}

// PRELOADER
@import "components/preloader";

// NAVBAR
@import "components/navbar";

// HOME SLIDER CONTENT
@import "components/slider-content";

// FOOTER
@import "components/footer";






