@import "helper";
@import "../fonts/fonts";
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  border-radius: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #3089FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3383ee;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Schibsted Grotesk", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 16px;
  }
}

.container{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  @media (max-width: 1180px) {
    padding: 0 15px;
  }
}

.hidden {
  overflow: hidden;
}

@import "preloader";

.nav{
  width: 100%;
  height: 7.625rem;
  @include flex('sb','c');
  .container{
    @include flex('sb','c');
  }
  &-logo{
    img{
      width: 12.5rem;
      height: auto;
    }
  }
  &-menu{
    color: #000;
    font-size: 1.125rem;
    line-height: 1.75rem;
    @include flex('s', 'c');
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      color: #00B140;
    }
    &:hover &-icon{
      &:before{
        background-color: #00B140;
      }
      &:after{
        background-color: #00B140;
      }
    }
    &-icon{
      width: 30px;
      height: 30px;
      position: relative;
      margin-left: 1rem;
      &:before{
        content: "";
        position: absolute;
        left: 4px;
        top: 12px;
        width: 16px;
        height: 1px;
        background-color: #000;
        transition: 0.3s;
      }
      &:after{
        content: "";
        position: absolute;
        left: 0;
        top: 20px;
        width: 20px;
        height: 1px;
        background-color: #000;
        transition: 0.3s;
      }
    }
  }
}

