$names: [
'CapturaNow-Light.otf',
'CapturaNow-Medium.otf',
'CapturaNow-Regular.otf',
'CapturaNow-Bold.otf',
'CapturaNow-ExtraLight.otf',
'CapturaNow-ExtraBold.otf',
'CapturaNow-Black.otf',
];

@each $name in $names {
  @font-face {
    font-family: 'CapturaNow';
    src: url(#{$name}) format("opentype");
  }
}

