.mobile{

  display: none;

  @media (max-width: 768px){
    display: block;
  }

  &-buttons{
    padding: 0 2rem 2rem;
    @include flex('s', 's');
    gap: 10px;

    .btn-slider{
      margin-right: 0;
    }

    &-next{
      font-size: 21px !important;
      .progress-bar-mobile {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background:
                radial-gradient(closest-side, white 90%, transparent 80%),
                conic-gradient(#00B140 var(--percentMobile), #fff 0);
        z-index: -1;
      }
    }
  }

  .footer-contact{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  &-slider{
    width: 100%;
    //overflow: hidden;
    transition: 0.3s;
    transform-origin: center;


    &.scale{
      transform: scale(0.8);
    }

    &-body{
      @include flex('s', 's');
      gap: 17px;
      transform-origin: left;
      transition: 0.8s;
    }

    &-hashtags{
      @include flex('s', 's');
      flex-wrap: wrap;
      padding: 0 2rem 2rem;
      margin-top: -10px;

      @media (max-height: 710px){
        padding-bottom: 10px;
      }

      &-item{
        color: #7C7B7B;
        margin-right: 1rem;
        transition: 0.3s;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 15px;

        @media (max-width: 420px){
          margin-bottom: 8px;
        }

        &.active{
          font-weight: 700;
          color: #000;
        }

        &:hover{
          color: #00B140;
        }
      }
    }

    &-item{
      width: 100vw;
      min-width: 100vw;
      transition: 0.3s;
      transform-origin: center;


      &-content{
        padding: 2rem;
        h4{
          align-self: stretch;
          color:  rgba(0, 0, 0, 0.81);
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 8px;
          br{
            display: none;
          }
        }
        h2{
          align-self: stretch;
          font-family: "CapturaNow", serif;
          color: #00B140;
          font-size: 32px;
          font-weight: 800;
          line-height: 116%;
          text-transform: uppercase;
          span{
            font-family: "CapturaNow", serif;
          }
          br{
            display: none;
          }
        }
      }
      img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
        object-position: bottom right;

        @media (max-width: 450px){
          height: 35vh;
        }
      }
    }
  }
}

