.preloader {
  $animTime: 9s;
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  @include flex('c', 'c');
  position: fixed;
  left: 0;
  top: 0;
  animation: close-preloader infinite 1s;
  animation-delay: 10s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  opacity: 1;
  visibility: visible;
  z-index: 100;


  @keyframes close-preloader {
    0%{
      visibility: visible;
      opacity: 1;
      height: 100vh;
    }
    90%{
      visibility: hidden;
      opacity: 0;
      height: 100vh;
    }
    100%{
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
  }

  &-line {
    transition: 0.3s;
    width: 64px;
    height: 2px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: anim-line infinite $animTime;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    background: #000;
    background-size: 100% auto;

    @media (max-width: 567px) {
      animation: anim-line-576 infinite $animTime;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }
  }

  @mixin lineAnim($width: 36.875rem, $height: 4rem) {
    0% {
      left: 20%;
      width: 64px;
      height: 2px;
      background-color: #000;
      transform: translate(-50%, -50%);
    }
    15% {
      left: 50%;
      width: 64px;
      height: 2px;
      background-color: #000;
      transform: translate(-50%, -50%);
    }
    35% {
      left: 50%;
      width: #{$width};
      height: 2px;
      background-color: #000;
      transform: translate(-50%, -50%);
    }
    45% {
      left: 50%;
      width: #{$width};
      height: $height;
      background-color: #000;
      transform: translate(-50%, -50%);
    }
    55% {
      left: 50%;
      width: #{$width};
      height: $height;
      background-color: transparent;
      transform: translate(-50%, -50%);
    }
    90% {
      left: 50%;
      width: #{$width};
      height: $height;
      background-color: transparent;
      transform: translate(-50%, -50%);
    }
    100% {
      left: 50%;
      width: #{$width};
      height: $height;
      background-color: transparent;
      transform: translate(-50%, -50%);
    }
  }


  @keyframes anim-line {
    @include lineAnim();
  }

  @keyframes anim-line-576 {
    @include lineAnim(18.125rem, 2.5rem);
  }

}