body{
  &.active-slider{
    footer{
      height: 90px;
      padding-bottom: 25px;
      background-color: transparent;
      margin-top: 120px;

      @media (max-height: 1000px){
        margin-top: 160px;
      }
    }

    .slider-content-info{
      opacity: 0;
    }
  }
}


.slider-content{
  @media (max-width: 768px){
    display: none;
  }


  .container{
    @include flex('sb', 'e');
    height: calc(100vh - 350px);
    transition: 0.3s;
    position: relative;
  }

  &.active{
    .container{
      height: calc(100vh - 190px);
    }
  }

  &-max{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.8s;
    left: 0;
    top: 100vh;

    &.active{
      height: calc((100% / 2.3) - 3rem) !important;
      top: 1.5rem !important;
      opacity: 0;
      visibility: hidden;

      .slider-content-img{
        width: 20%;
        right: calc(100% - 20%);
      }
      .slider-content-max-title{
        left: 23%;
        bottom: 22%;
        span{
          transition-delay: 0s !important;
          margin-top: 0;
          background-color: transparent;
          color: #00B140;
        }
        .type{
          bottom: 100%;
          transition-delay: 0s !important;
        }
      }
    }

    img{
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      object-fit: cover;
      transition: 0.8s;
    }

    &-title{
      z-index: 1;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40rem;
      transition: 0.8s;
      span{
        color: #FFF;
        font-family: "CapturaNow", serif;
        font-size: 4rem;
        font-style: normal;
        font-weight: 800;
        padding: 0 10px;
        line-height: 116%;
        text-transform: uppercase;
        background: #00B140;
        display: inline-block;
        opacity: 0;
        transition: 0.8s;
        transform: translateX(-100px);
        margin-top: -10px;
        &:first-child{
          margin-top: 0;
        }
      }
      .type{
        color: rgba(0, 0, 0, 0.81);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        bottom: calc(100% + 15px);
        opacity: 0;
        transition: 0.8s;
        transition-delay: 1s;
      }
    }

    &.show{
      img{
        width: calc(100% - 250px);
      }
      .slider-content-max-title{
        span{
          opacity: 1;
          transform: translateX(0);
        }
        .type{
          opacity: 1;
        }
      }
    }
  }

  &-info{
    width: calc(100% - 12.5rem);
    height: 100%;
    position: relative;
    transition: 0.8s;
    &-content{
      height: 100%;
      z-index: 1;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      .scroll-content{
        height: 100%;
      }

      &.active{
        overflow: hidden;
      }
    }
  }

  &-item{
    width: 100%;
    height: calc(100% / 2.3);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #E7E7E7;
    transition: 0.8s;
    background-color: #fff;
    &:last-child{
      margin-bottom: 25%;

      @media (max-width: 1024px){
        margin-bottom: 55%;
      }
    }

    &.active{
      height: 100%;
      border-color: transparent;
      z-index: 1;
      top: 0;
      left: 0;
      margin-bottom: 0;
      //transform: scale(0.7) !important;

      .slider-content-item-img{
        right: 0;
        width: 86% !important;
        transform: scale(1) !important;
        cursor: default;
      }
      .slider-content-item-type{
        display: none;
      }
      .slider-content-item-title{
        left: 0 !important;
        top: unset !important;
        bottom: 1.5rem;
        transition: 0.8s left, top;
        width: 31%;
        transform: scale(1) !important;
        .type{
          display: block;
          transform: scale(1) !important;
        }
        span{
          color: #FFF;
          font-size: 76px;
          line-height: 1.16;
          padding: 0 8px;
          background: #00B140;
          display: inline-block;
          font-weight: 800;
          margin-bottom: -10px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        br{
          display: none;
        }
      }
    }



    &-img{
      width: 20%;
      height: calc(100% - 3rem);
      object-fit: cover;
      position: absolute;
      right: calc(100% - 20%);
      top: 1.5rem;
      transform-origin: left top;
      transform: scale(0.7);
      cursor: pointer;
    }
    &-type{
      position: absolute;
      left: 16%;
      color: rgba(0, 0, 0, 0.81);
      font-size: 1.25rem;
      font-weight: 400;
      top: 30px;
      transform-origin: left;
      transform: scale(0.7);
      br{
        display: none;
      }
    }
    &-title{
      position: absolute;
      left: 16%;
      top: 60px;
      transform-origin: left top;
      transform: scale(0.7);
      min-width: 50rem;
      .type{
        font-size: 20px;
        font-weight: 400;
        transform-origin: left;
        transform: scale(0.7);
        position: absolute;
        left: 0;
        display: none;
        bottom: calc(100% + 10px);
      }
      span{
        color: #00B140;
        font-size: max(3vw, 3rem);
        line-height: 1.16;
        text-transform: uppercase;
        font-weight: 800;
        transition: 0.3s;
        font-family: "CapturaNow", serif;
      }
    }
  }

  &-buttons{
    @include flex('c', 'c');
    width: 12.5rem;
    height: 100%;
    position: relative;
    right: -5rem;
    @media (max-width: 1024px){
      right: -2rem;
    }

    i{
      transition: 0.3s;
    }

    &-next{
      font-size: 21px !important;
      .progress-bar {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background:
                radial-gradient(closest-side, white 90%, transparent 80%),
                conic-gradient(#00B140 var(--percent), #fff 0);
        z-index: -1;
      }
    }

    &-play{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        //top: 10px;
        top: 10px;
        width: 17px;
        height: 8px;
        border: 1.5px solid #000;
        border-bottom-color: transparent;
        border-radius: 2px 2px 0 0;
        transition: 0.2s;
      }
      &:after{
        content: "";
        position: absolute;
        //top: 21px;
        top: 19px;
        width: 17px;
        height: 8px;
        border: 1.5px solid #000;
        border-top-color: transparent;
        border-radius: 0 0 2px 2px;
        transition: 0.2s;
      }

      &.active{
        &:before{
          top: 10px;
          height: 6px;
          border-bottom-color: #000;
          border-radius: 2px;
        }
        &:after{
          top: 21px;
          height: 6px;
          border-top-color: #000;
          border-radius: 2px;
        }
      }
    }

  }
}

[src="images/slider-image-4.png"]{
  object-position: right bottom;
}