body[data-page="404"]{
  .nav .nav-logo img{
    width: 12.5rem;
  }
}


.pnf-container{
  @include flex('c', 'c');
  height: 80%;


  @media (max-width: 576px){
    max-width: calc(100% - 30px);
  }
  @media (max-height: 500px){
    margin-top: -10vh;
  }


  &-body{
    @include flex('c', 'c');
    width: 100%;
    min-height: 380px;
    gap: 36px;
    position: relative;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .empty{
      width: 100%;
      max-width: 518px;

      opacity: 0;
      transform: translateX(-1000px);
      
      
      @media (max-width: 1100px) {
        max-width: unset;
        height: 30vh;
      }

      &.active{
        transition: 1s;
        opacity: 1;
        transform: translateX(0);
      }
    }
    .nf{
      width: 100%;
      max-width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-36%);
      opacity: 0;

      @media (max-width: 768px) {
        top: 250px;
      }
      //transform: translateY(-36%) scale(3);
    }





    &-info{
      @include flex('s', 's');
      flex-direction: column;
      gap: 32px;
      position: relative;


      @media (max-width: 992px){
        gap: 24px;
      }
      @media (max-width: 576px){
        gap: 16px;
      }
      @media (max-height: 650px){
        gap: 3vh;
      }

      h1{
        color: #000;
        font-family: "CapturaNow", serif;
        font-weight: 800;
        font-size: 48px;
        line-height: 116%;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        opacity: 0;
        transform: translateX(1000px);

        @media (max-width: 1100px) {
          font-size: 40px;
        }
        @media (max-width: 576px) {
          font-size: 24px;
        }
        @media (max-height: 650px) {
          font-size: 5vh;
        }

        &.active{
          transition: 2s;
          opacity: 1;
          transform: translateX(0);
        }
      }

      h3{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        position: relative;
        z-index: 1;
        opacity: 0;
        transform: translateX(1000px);
        width: 100%;
        max-width: 535px;

        @media (max-width: 576px) {
          font-size: 14px;
        }
        @media (max-height: 650px) {
          font-size: 3vh;
        }


        &.active{
          transition: 2s;
          opacity: 1;
          transform: translateX(0);
        }
      }

      .back-to-home{
        @include flex('c', 'c');
        height: 44px;
        padding: 0 55px 0 55px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 36px;
        background: #00B140;
        color:  #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        position: relative;
        z-index: 1;
        opacity: 0;

        @media (max-width: 576px) {
          width: 100%;
        }

        &.active{
          transition: 2s;
          opacity: 1;
        }
      }
    }

  }
}