body[data-page="projects"]{
  overflow-y: auto;
  .container{
    max-width: 1180px;
  }
  scroll-behavior: unset;

  .menu{
    z-index: 100;
  }

  .nav .nav-logo img {
    animation: unset;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(0);
  }

  .hidden{
    height: auto;
  }

  .menu{
    .container{
      padding: 0 15px;
    }
  }
  .nav .container {
    padding: 0 15px;
    img{
      @media (max-width: 576px){
        width: 145px;
      }
    }
  }
}

.mt-64{
  margin-top: 4rem;
}

.mb-64{
  margin-bottom: 4rem;
}

.projects{
  &-content{
    width: 100%;
    height: 100%;
    .container{
      @include flex('sb', 's');
      $infoWidth: 15.4375rem;
      height: 100%;
      @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
      .info{
        width: $infoWidth;
        height: 100%;

        @media (max-width: 768px) {
          display: none;
        }
      }
      .content{
        width: calc(100% - #{$infoWidth});
        padding-left: 4rem;
        height: 100%;

        @media (max-width: 768px) {
          width: 100%;
          padding-left: 0;
        }

      }
    }
  }

  &-header{
    width: 100%;
    height: calc(100vh - 7.625rem);
    background: url("../images/projects/header.png") no-repeat center;
    background-size: cover;

    .content{
      @include flex('s', 'e');
      position: relative;
    }
    &-title{
      align-self: stretch;
      color: #fff;
      font-family: "CapturaNow", serif;
      font-size: 6rem;
      font-style: normal;
      font-weight: 800;
      line-height: 100%;
      text-transform: uppercase;
      position: absolute;
      left: 4rem;
      bottom: -0.5rem;

      @media (max-width: 768px) {
        left: 32px;
        font-size: 5rem;
      }
      @media (max-width: 700px) {
        display: none;
      }
    }
  }

  &-slider{
    width: 100%;
    overflow: hidden;
    height: auto;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    &-body{
      @include flex('s', 'c');
      gap: 8px;
      transition: 0.8s;
      &-item{
        height: 20.5rem;
        transition: 0.3s;
        opacity: 0.5;

        &.active{
          opacity: 1;
        }

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &-footer{
    margin-bottom: 44px;
    .container{
      @include flex('sb', 'c');
      @media (max-width: 850px){
        flex-direction: column;
      }
    }
    &-hashtags{
      @include flex('s', 'c');
      gap: 1rem;

      @media (max-width: 850px){
        display: none;
      }
    }
    &-hashtag{
      color: #7C7B7B;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      transition: 0.3s;
      cursor: pointer;


      &:hover{
        color: #00B140;
      }

      &.active{
        font-weight: 700;
      }
    }

    &-contact{
      color: #000;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      cursor: pointer;
      i{
        font-size: 1.125rem;
        margin-left: 16px;
      }
    }
  }
}

.process-slider{
  padding-top: 8rem;
  height: 500px;
  @include flex('c', 's');

  @media (max-width: 850px){
    height: 400px;
  }
  @media (max-width: 576px){
    height: 450px;
  }

  .container{
    @include flex('sb', 'c');
    padding: 0 32px;
  }

  &-prev{
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
    transition: 0.3s;
    @include flex('s', 'c');
    cursor: pointer;
    position: relative;

    i{
      margin-right: 1.25rem;
      font-size: 1.375rem;
    }

    span{
      @media (max-width: 650px){
        display: none;
      }
    }
    &:hover{
      color: #00B140;

      .process-slider-prev-info{
        @media (min-width: 650px){
          opacity: 1;
        }
      }
    }

    &-info{
      position: absolute;
      left: calc(100% + 16px);
      top: 0;
      transform: translateY(-20%);
      opacity: 0;
      transition: 0.3s;


      img{
        width: 22.5rem;
        height: 10.375rem;
        object-fit: cover;
        margin-bottom: 1rem;
      }
      &-type{
        align-self: stretch;
        color: rgba(0, 0, 0, 0.81);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1rem;
      }
      &-title{
        align-self: stretch;
        font-family: "CapturaNow", serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 116%;
        text-transform: uppercase;
        color: #00B140;
      }
    }
  }
  &-next{
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
    transition: 0.3s;
    @include flex('e', 'c');
    cursor: pointer;
    position: relative;

    i{
      margin-left: 1.25rem;
      font-size: 1.375rem;
    }
    span{
      @include flex('e', 'c');
      @media (max-width: 650px){
        display: none;
      }
    }

    .up-next{
      display: none;
      color: #00B140;
      text-align: right;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }
    @media (max-width: 650px){
      .up-next{
        display: block;
      }
    }
    &:hover{
      color: #00B140;

      .process-slider-next-info{
        opacity: 1;
      }
    }

    &-info{
      position: absolute;
      right: calc(100% + 16px);
      top: 0;
      transform: translateY(-20%);
      opacity: 0;
      transition: 0.3s;

      @media (max-width: 650px){
        opacity: 1;
        width: 100vw;
        left: 0;
        transform: translateX(calc(-100% + 114px)) translateY(60px);
        img{
          width: 100% !important;
          height: 168px;
        }
        .process-slider-next-info-type{
          padding-left: 32px;
          margin-bottom: 4px;
        }
        .process-slider-next-info-title{
          padding-left: 32px;
        }
      }


      img{
        width: 22.5rem;
        height: 10.375rem;
        object-fit: cover;
        margin-bottom: 1rem;
      }
      &-type{
        align-self: stretch;
        color: rgba(0, 0, 0, 0.81);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1rem;
      }
      &-title{
        align-self: stretch;
        font-family: "CapturaNow", serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 116%;
        text-transform: uppercase;
        color: #00B140;
      }
    }
  }
}

.mobile-socials{
  display: none;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding-left: 32px;

  @media (max-width: 576px){
    display: flex;
  }
}

.wrapper{
  .info{
    padding-top: 64px;
  }
  &-info{
    color: rgba(0, 0, 0, 0.81);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding-top: 16px;
    border-top: 1px solid #E7E7E7;

    &:nth-of-type(1){
      margin-bottom: 500px;
    }
  }

  &-title{
    align-self: stretch;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;
    color: #00B140;
    margin-top: 20px;
    position: relative;
    margin-bottom: 7.5rem;

    @media (max-width: 768px){
      margin-bottom: 10.5rem;
    }

    span{
      display: none;

      @media (max-width: 700px){
        display: inline-block;;
      }
    }

    @media (max-width: 768px){
      padding-left: 32px;
    }
    @media (max-width: 700px){
      font-size: 40px;
    }
    @media (max-width: 576px){
      font-size: 32px;
    }
    img{
      position: absolute;
      left: 30%;
      bottom: -3.5rem;

      @media (max-width: 576px){
        width: 210px;
        bottom: -4rem;
      }
    }
  }


  .section{
    &-max-image{
      width: 100%;
      height: auto;
      margin-bottom: 4rem;

      @media (max-width: 768px) {
        width: calc(100% - 32px);
        position: relative;
        left: 32px;

      }

      &.left{
        @media (max-width: 768px) {
          left: 0;
          right: 32px;
        }
      }

      &.amwaj-user{
        width: 100%;
        max-width: 556px;

        @media (max-width: 620px){
          max-width: calc(100% - 64px);
        }
      }
    }
    &-text{
      width: 100%;
      max-width: 620px;
      color: rgba(0, 0, 0, 0.81);
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 4rem;
      @media (max-width: 768px) {
        margin-left: 32px;
      }
      @media (max-width: 620px) {
        max-width: calc(100% - 40px);
      }
      @media (max-width: 576px) {
        max-width: calc(100% - 40px);
      }
      span{
        color: #fff;
        background-color: #00B140;
      }
    }
    &-images{
      width: 100%;
      height: auto;
      margin-bottom: 8rem;
      @include flex('sb', 's');
      gap: 4rem;

      @media (max-width: 992px){
        gap: 3rem;
      }
      @media (max-width: 768px){
        flex-direction: column;
        gap: 32px;
        margin-bottom: 4rem;
      }
      img{
        width: calc((100% / 2) - 2rem);
        height: auto;
        &:nth-of-type(2){
          position: relative;
          top: 4rem;
        }
        @media (max-width: 768px){
          &:nth-of-type(1){
            width: calc(100% - 32px);
          }
          &:nth-of-type(2){
            width: calc(100% - 32px);
            position: relative;
            left: 32px;
            top: 0;
          }
        }
      }
    }

    &-title{
      color: #00B140;
      font-family: "CapturaNow", serif;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: 116%;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 2.5rem;

      @media (max-width: 768px) {
        padding-left: 32px;
      }
      @media (max-width: 576px) {
        font-size: 24px;
      }

      &.one{
        margin-bottom: 0.5rem;
      }
    }
    &-subtitle{
      color: #000;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      margin-bottom: 2rem;
      @media (max-width: 768px) {
        padding-left: 32px;
      }
    }
    &-selected-text{
      width: 100%;
      max-width: 496px;
      color: rgba(0, 0, 0, 0.81);
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      border-left: 1px solid #00B140;
      margin-bottom: 4rem;
      padding-left: 1.5rem;

      @media (max-width: 768px) {
        margin-left: 32px;
        font-size: 22px;
      }
      @media (max-width: 496px) {
        width: calc(100% - 35px);
      }

      i{
        display: block;
        color: #00B140;
        font-size: 20px;
        margin-bottom: 16px;
      }
    }
    &-backstage{
      @include flex('sb', 'c');
      margin-top: 8rem;
      color: #00B140;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: 116%;
      letter-spacing: 1px;
      text-transform: uppercase;

      @media (max-width: 768px){
        padding: 0 32px;
      }


      &-socials{
        @include flex('e', 'c');
        gap: 1.875rem;
        @media (max-width: 576px){
          display: none;
        }
        a{
          svg, path{
            transition: 0.3s;
          }

          &:hover{
            path{
              stroke: #00B140;
            }
          }

          &:nth-of-type(2){
            transform: translateY(5px);
          }

          &:nth-of-type(3){
            &:hover{
              path{
                fill: #00B140;
              }
            }
          }
        }
      }
    }
  }
}


.user-direction{
  width: 7.5rem;
  height: 7.5rem;
  flex-shrink: 0;
  border-radius: 120px;
  background: radial-gradient(176.24% 147.36% at 20% 24.17%, rgba(37, 42, 49, 0.20) 0%, rgba(37, 42, 49, 0.00) 100%);
  backdrop-filter: blur(10px);
  @include flex('c', 'c');
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: fixed;
  left: 10px;
  top: 100px;
  opacity: 0;

  @media (max-width: 768px){
    display: none;
  }
}

[data-move="View"]{
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(3px);

  img {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    object-fit: cover;
  }

  &-close{
    display: flex;
    width: 7.5rem;
    height: 7.5rem;
    @include flex('c', 'c');
    gap: 8px;
    border-radius: 96px;
    background: radial-gradient(176.24% 147.36% at 20% 24.17%, rgba(37, 42, 49, 0.20) 0%, rgba(37, 42, 49, 0.00) 100%);
    backdrop-filter: blur(10px);
    color: #fff;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    cursor: pointer;
    font-size: 20px;
    span{
      transform: rotate(-45deg);
      font-size: 2.5rem;
      font-weight: 200;
    }
  }
}



