body[data-page="studio"]{
  .container{
    max-width: 1180px;
  }
  scroll-behavior: unset;

  .menu{
    z-index: 100;
  }

  .nav .nav-logo img {
    animation: unset;
    opacity: 1;
    position: relative;
    top: 3px;
    left: 0;
    transform: translateX(0);
  }

  .hidden{
    height: auto;
  }

  .menu{
    .container{
      padding: 0 15px;
    }
  }
  .nav .container {
    @media (max-width: 1180px){
      padding: 0 15px;
    }
    img{
      @media (max-width: 576px){
        width: 145px;
      }
    }
  }
}

.studio-content{
  width: 100%;
  height: 100%;
  .container{
    @include flex('sb', 's');
    $infoWidth: 15.4375rem;
    height: 100%;
    .info{
      width: $infoWidth;
      height: 100%;
    }
    .content{
      width: calc(100% - #{$infoWidth});
      padding-left: 4rem;
      height: 100%;
    }
  }
}

.studio-anim{
  color: #000;
  font-size: 6rem;
  font-style: normal;
  font-weight: 200;
  line-height: 116%;
  letter-spacing: -11px;
  position: fixed;
  left: 50%;
  top: calc(100% - 150px);
  transform: translateX(-50%);
  transition: 0.8s;
  z-index: 100;
  transition-timing-function: ease-in;

  @media (max-width: 768px){
    font-size: 4rem;
    letter-spacing: -5px;
  }

  span{
    position: relative;
    top: 150px;
    transition: 0.3s;
    font-weight: 400;

    &.active{
      top: 0;
    }
  }
}




// HERO SECTION STUDIO
@import "../components/hero";

// ABOUT SECTION STUDIO
@import "../components/about";

// OWNERS SECTION STUDIO
@import "../components/owners";

// PARTNERS SECTION STUDIO
@import "../components/partners";







